@mixin antialias {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin font-face-db( $font-name, $font-filename, $font-weight: normal ){
  @font-face {
    font-family: $font-name;
    src: url('../fonts/' + $font-filename + '.eot');
    src: url('../fonts/' + $font-filename + '.eot?#iefix') format('embedded-opentype'),
         url('../fonts/' + $font-filename + '.woff') format('woff'),
         url('../fonts/' + $font-filename + '.ttf') format('truetype');
    font-weight: $font-weight;
    font-style: normal;
  }
}
