.c-accordion {
    @extend %rel;
    
    input {
        &[type=checkbox] {
            display: none;
        }

        &:checked {
            & + label {
                border-bottom-color: transparent;
    
                &:after {
                    background-color: black;
                }
            
                & + .answer {
                    max-height: 70rem;
                    padding-bottom: $gap;
                    @apply border-b border-gray-300;
                    
                    @media ( max-width: $tablet + px ) {
                    	max-height: 1200px;
                    }
                }
            }            
        }
    }
   
    label {
        @extend %anim;
        @extend %flex;
        @extend %flex-column;
        @extend %rel;
        //@extend %padding-top--48;
        //@extend %padding-bottom--48;
        padding-right: 48px;
        cursor: pointer;
        
        &:nth-of-type(1) {
            //border-top: 1px solid black;
        }
    }
    
    .answer {
        //max-width: none;
        max-height: 0;
        overflow: hidden;
    } 

    input {
        &:checked {
            & + label {
                // padding-left: $gap;

                // & + .answer {
                //     padding-left: $gap;
                // }
            }            
        }
    }
    
    label {
        //@extend %fs-32;
        //padding-right: 80px;
        
        &:hover {
            @media (hover: hover) {
                &:after {
                    background-color: black;
                }
            }
        }
    }
    
    .answer {
        //padding-right: clamp(100px, toRem(200), toRem(200));
    }
}