.c-contact {
	&:after {
		@extend %abs-pseudo;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0.05;
		pointer-events: none;
		background-color: transparent;
		background-image:
			linear-gradient(90deg, black 1px, transparent 1px),
			linear-gradient(black 1px, transparent 1px);
		background-position: 24px 24px;
		background-size: 25px 25px;
		mask-image: linear-gradient(to bottom right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
		-webkit-mask-image: linear-gradient(to bottom right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	}

	&__question {
		.o-corner {
			&:after, &:before {
				box-shadow: 5px 5px 0 0 white;
			}
		}
	}

	&__social {
		li {
			a {
				
			}
		}
	}

	.o-btn {
		&:hover {
			span {
				color: $c-black;
			}
		}
	}
}