.c-welcome {
	&:after {
    background-image: linear-gradient(90deg, #ffffff80 1px, transparent 1px), linear-gradient(#ffffff80 1px, transparent 1px);
	}

  h1 {
		span {
      @media (min-width: theme('screens.md')) {
    		display: inline-block;
      }
		}
	}

	&__skills {    	
    	span {
        	display: inline-flex;
            white-space: nowrap;
            border-radius: 30px;
            margin: 4px 2px;
            border: 1px solid #666;
            padding: 8px 12px;
            letter-spacing: .5px;
            color: #fff;
            background-color: rgba(white, .02);
    	}
	}	
}