
       <div class="c-contact" id="contact">
            <div class="~pt-16/40 ~pb-16/40 o-wrap o-wrap--normal">
                <article class="o-article js-fadeInChildren">
<!--                     <h2>Zacznijmy działać!</h2> -->
                    <p>Chcesz, aby Twój projekt graficzny został wdrożony zgodnie z&nbsp;najlepszymi praktykami, był w&nbsp;pełni responsywny, dopracowany w&nbsp;każdym detalu i&nbsp;robił wrażenie?</p>
                </article>
                
                <div class="c-contact__content">
                    <ul class="c-contact__social js-fadeInChildren">
                        <li><i class="icon-envelope-o"></i><script language="JavaScript">
var part1 = "info";
var part2 = Math.pow(2,6);
var part3 = String.fromCharCode(part2);
var part4 = "cutme.pl";
var part5 = part1 + String.fromCharCode(part2) + part4;
document.write("<a itemprop='email' href=" + "mai" + "lto" + ":" 
+ part5 + ">" + part1 + part3 + part4 + "</a>");
</script></li>
                        <li><i class="icon-device-mobile"></i><a itemprop="telephone" href="tel:691630013">691 630 013</a></li>
                        <li><i class="icon-messenger"></i><a href="http://m.me/cutmepl" target="_blank">Messenger</a></li>
<!--                         <li><i class="icon-skype"></i><a href="skype:bartoszm">Skype</a></li> -->
                    </ul>

                    <div class="c-contactform ">
                        <div class="content">
                            <form action="https://cutme.pl/contact.php" method="post" id="contactForm" novalidate class="js-fadeInChildren">
                                <fieldset id="formFields">
                                    <span class="input">
										<input 
											class="input__field" 
											type="text" 
											id="input-0" 
											name="name" 
											autocomplete="off" />
										
										<label class="input__label" for="input-1">
											<span class="input__label-content">Z kim mam przyjemność?</span>
										</label>
									
										<svg 
											class="graphic" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
		 
											<path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
										</svg>
										
										
									</span>
							
									<span class="input">
										<input 
											class="input__field" 
											type="email" 
											id="input-1" 
											name="email" 
											autocomplete="off" />
										
										<label class="input__label" for="input-1">
											<span class="input__label-content">Twój adres e-mail</span>
										</label>
									
										<svg 
											class="graphic" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
		 
											<path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
										</svg>
										
										
									</span>
								
									<span class="input">
										<textarea rows="1" 
											class="input__field input__field--textarea" 
											id="input-2" 
											name="message"></textarea>
											
										<label class="input__label" for="input-2">
											<span class="input__label-content">W czym mogę pomóc?</span>
										</label>
									
										<svg 
											class="graphic" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">			
		 
											<path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
										</svg>
									</span>
									
									<div id="recaptcha"></div>
								
									<div class="c-contactform__submit">
										<button type="submit" class="o-btn o-btn--primary o-btn--big" id="submita"><div class="c-contactform__spinner is-hidden" id="spinner"></div><span class="title">Wyślij</span></button>
									</div>
								</fieldset>
								
								<fieldset class="c-contactform__thanks is-hidden" id="formThanks">
									<h4>Dziękuję za kontakt!</h4>

									<p>
									    Cieszę się, że zdecydowałeś się napisać.<br>
										Odpowiem tak szybko, jak to tylko możliwe.
									</p>
								</fieldset>
							</form>
							
						</div>
					</div>

                </div>
            </div>
        </div>
