
        <div class="c-steps u-bg js-fullHeight" id="how">	
            <div class="o-section">
                <div class="o-wrap o-wrap--normal">
                    <header class="o-header o-header__section js-fadeInChildren">
						<h5 class="o-header__small ">Lubisz konkrety?</h5>
						<h3 class="o-header__medium">Dobrze trafiłeś</h3>
					</header>

                    <ul class="c-steps__content js-fadeInChildren">
                        <li class="c-steps__col">
                            <p><a itemprop="url" href="#contact" class="js-goto">Określ swoje wymagania</a>, prześlij link do podglądu projektu, zostaw kontakt. W&nbsp;przeciągu 12h poznasz koszt i&nbsp;czas realizacji.</p>
                        </li>
                    </ul>
                    
                    <div class="u-text-center ">
        				<a itemprop="url" href="#" class="o-btn o-btn--oval o-btn--red" data-target="#portfolio">Zobacz portfolio</a>
				    </div>
                </div>
            </div>
        </div>
