
        <div class="c-steps u-bg js-fullHeight" id="how">	
            <div class="o-section">
                <div class="o-wrap o-wrap--normal">
                    <header class="o-header o-header__section js-fadeInChildren">
						<h5 class="o-header__small ">Lubisz konkrety?</h5>
						<h3 class="o-header__medium">Dobrze trafiłeś</h3>
					</header>

                    <ul class="c-steps__content js-fadeInChildren">
                        <li class="c-steps__col">
                            <p>Sprecyzuj swoje oczekiwania, udostępnij link do projektu by otrzymać wycenę oraz szacowany czas realizacji.</p>
                            <p>Pozostaw kontakt, abyśmy mogli skonsultować szczegóły i&nbsp;w&nbsp;pełni dostosować ofertę do Twoich potrzeb.</p>
                        </li>
                    </ul>
                    
                    <div class="u-text-center ">
        				<a itemprop="url" href="#" class="o-btn o-btn--oval o-btn--red" data-target="#contact">Kontakt</a>
				    </div>
                </div>
            </div>
        </div>
