
        <div class="c-welcome">
			<div itemscope itemtype="http://schema.org/Organization" class="c-logo" style="visibility: hidden">
				<a 
                    itemprop="url" 
                    href="/" 
                    class="c-logo__img js-goto" 
                    title="Kodowanie, cięcie projektów do HTML/CSS/JS Pixel Perfect">
                    <img itemprop="logo" src=<%= require("./img/assets/logo-black.svg") %> width="145" height="28" alt="cutme" />   
                </a>
			</div>

            <div class="c-welcome__content js-fullHeight js-fadeOut">
                <div class="o-wrap o-wrap--normal">
                    <div class="o-section">
        			
        				<article itemtype="http://schema.org/CreativeWork" itemscope="itemscope">
    						<h1 itemprop="headline" style="visibility: hidden"><strong class="char1">Kodowanie do HTML</strong><b class="char2">/CSS/JS</b></h1>
                            <h2 itemprop="text" style="visibility: hidden">
    Profesjonalne <strong>cięcie do HTML/SCSS/JS</strong> 
    Pixel Perfect w&nbsp;wersji responsywnej oraz wdrażanie do&nbsp;Wordpress.</h2>
        				</article>
        				
        				<div class="c-welcome__skills" style="visibility: hidden">
            				<strong>ACF</strong> <strong>Adobe XD</strong> <strong>Avocode</strong> <strong>CSS/Sass</strong> <strong>GSAP</strong> <strong>HTML</strong>  <strong>BEM/ITCSS</strong>  <strong>Figma</strong> <strong>Gulp</strong> <strong>JavaScript</strong> <strong>jQuery</strong> 
            				<strong>GIT</strong> <strong>SCSS</strong> <strong>Webpack</strong> <strong>Wordpress</strong> <strong>Zeplin</strong>
        				</div>
    
<!--
        				<div class="js-btn">
            				<a itemprop="url" href="/portfolio" class="o-btn o-btn--oval o-btn--red js-goto">Zobacz porfolio</a>
        				</div>
-->
        			</div>
    
        			<div class="c-welcome__cube" style="visibility: hidden">
        				<img 
        				    itemscope="itemscope" itemtype="http://schema.org/ImageObject" 
        					src="<%= require('./img/assets/cube.webp') %>" alt="" width="850" height="640">
        			</div>
                </div>
    		</div>
		</div>
