
        <section class="c-welcome gs-parallax">
            <img itemprop="logo" src=<%= require("./img/assets/logo-white.svg") %> loading="lazy" width="145" height="28" alt="cutme" class="o-logo" />   
            
            <h2>Bartosz Mediger, front-end developer</h2>

            <h1><span class="char1">Kodowanie projektów graficznych</span>
                <span class="char2">i wdrażanie do WordPress.</span></h1>
<!--             <h3>z dbałością o każdy detal.</h3> -->

            <section class="c-welcome__skills">
        		<span>Responsive Design</span> 
        		<span>Interactive animations</span> 
        		<span>Semantic code</span>
        		<span>SEO friendly</span> 
        		<span>Pixel Perfect</span> 
        	</section>
        	
        	<section class="c-welcome__icons">
            	<a href="https://github.com/cutme?tab=repositories" target="_blank" class="icon-github"></a>
        	</section>
        	
<!--
            <section class="c-welcome__skills">
        		<span>ACF</span> 
        		<span>Adobe XD</span> 
        		<span>Avocode</span> 
        		<span>Barba JS</span> 
        		<span>BEM/ITCSS</span>
        		<span>CSS/Scss</span> 
        		<span>Figma</span>
        		<span>GIT</span>
        		<span>GSAP</span> 
        		<span>Gulp</span>
        		<span>HTML</span>      
        		<span>JavaScript</span> 
        		<span>jQuery</span> 
                <span>Webpack</span> 
                <span>Wordpress</span> 
                <span>Zeplin</span>
        	</section>
-->
        	
        	<section class="o-more">
            	<button class="o-btn o-btn--oval o-btn--primary" data-target="#portfolio">Sprawdź przykłady</button>
        	</section>
        	
<!--
        	<video muted progress autoplay loop>
                <source src=<%= require('./img/welcome/853919-hd_1920_1080_25fps.mp4') %> type="video/mp4" >
                Your browser does not support HTML video.
            </video>
-->
		</section>
