body {
	@include antialias;
	line-height: 1.5;
	text-rendering: optimizeSpeed;
	font: {
		family: $text;
		size: #{$base-font-size}px;
		weight: $light;
		display: fallback;
	}
	color: $c-black;
}

a {
	@extend %anim--fast;
	color: inherit;
	cursor: pointer;
	text-decoration: none;
	
	&:hover,
    &:active,
    &:focus {
        //color: inherit;
        outline: none;
    }
    
    &:after, &:before {
		@extend %anim--fast;
    }
    
    i {
		@extend %anim--fast;
    }
}




::selection {
	background-color: $c-blue1;
	color: white;
}
