html {    
    @media ( max-width: $base + px ) {
        font-size: calc(16 / $base * 100 * 1vw);
    }
}

body {
    @include antialias;
	line-height: normal;
	text-rendering: optimizeSpeed;
	font: {
		family: $text;
		weight: $light;
	}
	
	color: $c-black;
}

a {
	@extend %anim--fast;
	color: inherit;
	cursor: pointer;
	text-decoration: none;
	
	&:hover,
    &:active,
    &:focus {
        //color: inherit;
        outline: none;
    }
    
    &:after, &:before {
		@extend %anim--fast;
    }
    
    i {
		@extend %anim--fast;
    }
}




::selection {
	background-color: $c-blue1;
	color: white;
}
