[class^="icon-"], [class*=" icon-"] {
	@extend %icomoon;
}

.is-hidden {
    display: none;
}

.u-cover {
    transition: all 250ms ease-out;
    opacity: 1;
    
    .is-loaded & {
        opacity: 0;
    }
}


