[class^="icon-"], [class*=" icon-"] {
	@extend %icomoon;
}

.anim {
	@extend %anim--medium;
	will-change: transform, opacity;
	
	&--up {
		opacity: 0;
		transform: translateY(50px);
		
		&.anim--loaded {
			opacity: 1;
			transform: translateY(0);
		}
	}

	&--left {
		opacity: 0;
		transform: translateX(-50px);
		
		&.anim--loaded {
			opacity: 1;
			transform: translateX(0);
		}
	}
	
	&--fadein {
		opacity: 0;
		
		&.anim--loaded {
			opacity: 1;
		}
	}
	
	&--scalein {
		transform: scale(0);
		opacity: 0;
		
		&.anim--loaded {
			transform: scale(1);
		}
	}
	
	&--delay1 {
	    transition-delay: 100ms;
	}
	
	&--delay2 {
	    transition-delay: 200ms;
	}
	
	&--delay3 {
	    transition-delay: 300ms;
	}
	
	&--delay4 {
	    transition-delay: 400ms;
	}
	
	&--delay5 {
	    transition-delay: 500ms;
	}
	
	&--delay6 {
	    transition-delay: 600ms;
	}
	
	&--delay7 {
	    transition-delay: 700ms;
	}
	
	&--delay8 {
	    transition-delay: 800ms;
	}
	
	&--delay9 {
	    transition-delay: 900ms;
	}
	
	&--delay10 {
	    transition-delay: 1000ms;
	}
}

.no-padding {
    padding: {
        top: 0;
        bottom: 0;
    }
}

.no-overflow {
	overflow: hidden;
}

.u-bg {
	background-size: cover;
	
	&--bright {
	    background-color: $c-gray3;
	}
}

.u-rel {
    @extend %rel;
}

.u-shadow {
    @extend %rel; z-index: 15;
    box-shadow: rgba(0,0,0,0.1) 0 0px 60px;
}

.u-text-center {
    text-align: center;
}



