.o-btn {
	@extend %btn;
	
	&--big {
    	@extend %btn--big;
	}
	
	&--small {
    	@extend %btn--small;
	}
	
	&--primary {
    	@extend %btn--primary;
	}
}

@keyframes pulse {
    0% {
        opacity: .2
    }
    
    50% {
        opacity: .3;
    }
    
    100% {
        opacity: .2;
    }
}
