
.icon-close:before {
  content: "\e907";
}
.icon-menu:before {
  content: "\e90d";
}
.icon-skype:before {
  content: "\e910";
}
.icon-jquery:before {
  content: "\e904";
}
.icon-gulp:before {
  content: "\e90f";
}
.icon-webpack:before {
  content: "\e90e";
}
.icon-brand:before {
  content: "\e906";
}
.icon-wordpress:before {
  content: "\e906";
}
.icon-brand2:before {
  content: "\1f328";
}
.icon-javascript:before {
  content: "\1f328";
}
.icon-brand3:before {
  content: "\e908";
}
.icon-css3:before {
  content: "\e908";
}
.icon-brand4:before {
  content: "\e909";
}
.icon-html5:before {
  content: "\e909";
}
.icon-brand5:before {
  content: "\e90a";
}
.icon-github:before {
  content: "\e90a";
}
.icon-brand6:before {
  content: "\e90b";
}
.icon-bootstrap:before {
  content: "\e90b";
}
.icon-brand7:before {
  content: "\e90c";
}
.icon-sass:before {
  content: "\e90c";
}
.icon-brand8:before {
  content: "\e905";
}
.icon-messenger:before {
  content: "\e905";
}
.icon-device-mobile:before {
  content: "\e900";
}
.icon-code:before {
  content: "\e903";
}
.icon-envelope-o:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\e902";
}
