.o-cloud {
    @extend %rel;
    @extend %animfix;
    display: inline;
    background-color: black;
    box-decoration-break: clone;
    line-height: 1;
    filter: url(#goo);
    user-select: none;
    padding: {
        top: 16px;
        bottom: 16px;
        right: 16px;
    }
    
    &__holder {
        //@extend %animfix;
    }

/*
    @supports (-moz-appearance:none){
        filter: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    
        br {
            display: none
        }
    }
*/
    
    p {
        position: relative;
        //flex-shrink: 0;
        display: inline-block;
        white-space: nowrap;
        //overflow: hidden;
        //text-overflow: ellipsis;
        //padding-left: clamp(16px, toRem(32), toRem(32));
        //padding-right: clamp(16px, toRem(32), toRem(32));
        color: white;
/*
        padding: {
            left: clamp(16px, toRem(32), toRem(32));
            right: clamp(16px, toRem(32), toRem(32));
        }
*/
        

        &:first-of-type {

        }
        
        &:last-of-type {
            
        }

        
        &:nth-of-type(1) {
            z-index: 6;
        }
        
        &:nth-of-type(2) {
            z-index: 5;
        }
        
        &:nth-of-type(3) {
            z-index: 4;
        }
        
        &:nth-of-type(4) {
            z-index: 3;
        }
        
        &:nth-of-type(5) {
            z-index: 2;
        }
        
        &:nth-of-type(6) {
            z-index: 1;
        }
    }
}