<a 
    itemprop="url" 
    href="https://cutme.github.io/converse" 
    class="c-portfolio__item c-portfolio__item--narrow" 
    target="_blank" 
    rel="nofollow noopener">
	
	<div class="c-portfolio__details">
		<div class="c-portfolio__line">
            <span class="c-portfolio__lead c-portfolio__lead--small" itemprop="name">Converse</span>
        </div>
        <div class="c-portfolio__line">
            <span class="c-portfolio__highlight c-portfolio__highlight--small" itemprop="description">Pocięcie do HTML</span>
        </div>
	</div>
	
	<div class="c-portfolio__img" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
        <img itemprop="image" srcset="<%=require("./img/portfolio/con.webp")%> 1x, 
             <%=require("./img/portfolio/con@2x.webp")%> 2x" 
             alt="Converse" loading="lazy" width="400" height="480" 
             src=<%=require("./img/portfolio/con.webp")%> />
	</div>
</a>