<a 
    itemscope itemtype="http://schema.org/WebSite" 
    href="http://kiribaticlub.pl/" 
    class="c-portfolio__item c-portfolio__item--narrow" 
    target="_blank" rel="nofollow noopener">

	<div class="c-portfolio__details">
		<div class="c-portfolio__line">
            <span class="c-portfolio__lead c-portfolio__lead--small" itemprop="name">Kiribati</span>
        </div>
        <div class="c-portfolio__line">
            <span class="c-portfolio__highlight c-portfolio__highlight--small" itemprop="description">Pocięcie do HTML</span>
        </div>
	</div>
	
	<div class="c-portfolio__img" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
        <img itemprop="image" srcset="<%=require("./img/portfolio/kir.webp")%> 1x, 
             <%=require("./img/portfolio/kir@2x.webp")%> 2x" 
             alt="Kiribati" loading="lazy" width="400" height="240" 
             src=<%=require("./img/portfolio/kir.webp")%> />
	</div>
</a>