<section class="c-portfolio__item c-portfolio__item--big c-portfolio__item--10" onclick="window.open('https://nts.klosinski.net/', '_blank')">    			
	<article itemscope itemtype="https://schema.org/Project">
        <h3 itemprop="name">NTS</h3>
        <p itemprop="description">Zakodowanie strony z&nbsp;projektu graficznego autorstwa <a href="https://klosinski.net">Jacka Kłosińskiego</a>.</p>
        <button class="o-btn o-btn--primary o-btn--small">Zobacz online</button>
	</article>
    <img itemprop="image" srcset="<%=require("./img/portfolio/nts.webp")%> 1x, 
    				              <%=require("./img/portfolio/nts@2x.webp")%> 2x" 
    				              alt="NTS" loading="lazy" width="800" height="480" 
    				              src=<%=require("./img/portfolio/nts.webp")%> />
</section>