<section class="c-portfolio__box c-portfolio__box--06 c-portfolio__box--big" onclick="window.open('https://cutme.github.io/polentex/web/', '_blank')">
	<article itemscope itemtype="https://schema.org/Project">
        <h3 itemprop="name">Polentex</h3>
        <p itemprop="description">Kodowanie choć już dość wiekowe, to nadal cieszy oko delikatnymi animacjami i&nbsp;prostotą w&nbsp;prezentacji treści. Projekt był również wdrożany do Wordpress</p>
        <button class="o-btn o-btn--primary o-btn--small">Zobacz online</button>
	</article>
    <img itemprop="image" srcset="<%=require("./img/portfolio/pol.webp")%> 1x, 
					              <%=require("./img/portfolio/pol@2x.webp")%> 2x" 
					              alt="Polentex" loading="lazy" width="800" height="480" 
					              src=<%=require("./img/portfolio/pol.webp")%> />
</section>