
<a 
    itemscope itemtype="http://schema.org/WebSite" 
    href="https://cutme.github.io/projektpr/" 
    class="c-portfolio__item c-portfolio__item--narrow" 
    target="_blank" rel="nofollow noopener">

	<div class="c-portfolio__details">
		<div class="c-portfolio__line">
            <span class="c-portfolio__lead c-portfolio__lead--small" itemprop="name">ProjektPR</span>
        </div>
        <div class="c-portfolio__line">
            <span class="c-portfolio__highlight c-portfolio__highlight--small" itemprop="description">Zakododwanie do HTML</span>
        </div>
	</div>
	
	<div class="c-portfolio__img" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
        <img itemprop="image" srcset="<%=require("./img/portfolio/pro.webp")%> 1x, 
             <%=require("./img/portfolio/pro@2x.webp")%> 2x" 
             alt="Projekt PR" class="small" loading="lazy" width="400" height="240" 
             src=<%=require("./img/portfolio/pro.webp")%> />
	</div>
</a>
