<a 
    itemprop="url" 
    href="https://cutme.github.io/tedx/" 
    class="c-portfolio__item c-portfolio__item--big" target="_blank" rel="nofollow noopener">

	<div class="c-portfolio__details">
		<div class="c-portfolio__line">
            <span class="c-portfolio__lead" itemprop="name">TEDx</span>
        </div>
        <div class="c-portfolio__line">
            <span class="c-portfolio__highlight" itemprop="description">Pocięcie do HTML</span>
        </div>
	</div>
	
	<div class="c-portfolio__img" itemscope="itemscope" itemtype="http://schema.org/ImageObject">
        <img itemprop="image" srcset="<%=require("./img/portfolio/ted.webp")%> 1x, 
             <%=require("./img/portfolio/ted@2x.webp")%> 2x" 
             alt="tedx" loading="lazy" width="800" height="480" 
             src=<%=require("./img/portfolio/ted.webp")%> />
	</div>
</a>