<section class="c-portfolio__item c-portfolio__item--big c-portfolio__item--07" 
         onclick="window.open('https://brandhub.cutme.pl/', '_blank')">
	<article itemscope itemtype="https://schema.org/Project">
        <h3 itemprop="name">BrandHub</h3>
        <p itemprop="description">Zlecenie na <strong>zakodowanie projektu</strong> wymagało precyzyjnego odwzorowania graficznego layoutu z &nbsp;zachowaniem standardu Pixel Perfect, by zapewnić profesjonalny i&nbsp;nowoczesny wygląd.</p>
        <button class="o-btn o-btn--primary o-btn--small">Zobacz online</button>
	</article>
	<picture>
        <img itemprop="image" srcset="<%=require("./img/portfolio/brandhub.webp")%> 1x, 
    					              <%=require("./img/portfolio/brandhub@2x.webp")%> 2x" 
    					              alt="BrandHub" loading="lazy" width="800" height="480" 
    					              src=<%=require("./img/portfolio/brandhub.webp")%> />
    </picture>
</section>