<section class="c-portfolio__item c-portfolio__item--narrow c-portfolio__item--16" onclick="window.open('https://karlex.cutme.pl', '_blank')">
    <% include ../corner %>
	<article itemscope itemtype="https://schema.org/Project">
        <h3 itemprop="name">Karlex</h3>
        <p itemprop="description"><strong>Zakodowanie szablonów z&nbsp;projektu graficznego</strong> firmy doradczej.</p>
        <button class="o-btn o-btn--primary o-btn--small">Zobacz online</button>
	</article>
	<picture>
        <img itemprop="image" srcset="<%=require("./img/portfolio/kar.webp")%> 1x, 
    					              <%=require("./img/portfolio/kar@2x.webp")%> 2x" 
    					              alt="Karlex" loading="lazy" width="400" height="480" 
    					              src=<%=require("./img/portfolio/kar.webp")%> />
	</picture>
</section>