<section class="c-portfolio__item c-portfolio__item--18 c-portfolio__item--big" onclick="window.open('https://mfd.cutme.pl', '_blank')">    				
    <% include ../corner %>
	<article itemscope itemtype="https://schema.org/Project">
        <h3 itemprop="name">MFD</h3>
        <p itemprop="description" class="~text-sm/base">Kompleksowe zlecenie na <strong>zakodowanie projektu graficznego</strong> oraz <strong>wdrożenie do Wordpress</strong> dla Start-up'u w&nbsp;sektorze flot wagonów kolejowych. Nowoczesne podejście w tej branży podkreślone za pomocą wielu animacji.</p>
        <button class="o-btn o-btn--primary o-btn--small">Zobacz online</button>
	</article>
	<picture class="relative">
        <img itemprop="image" srcset="<%=require("./img/portfolio/mfd.webp")%> 1x, 
            			              <%=require("./img/portfolio/mfd@2x.webp")%> 2x" 
            			              alt="mfd" loading="lazy" width="800" height="480" 
            			              src=<%=require("./img/portfolio/mfd.webp")%> />
    </picture>
</section>
