[class^="icon-"], [class*=" icon-"] {
	@extend %icomoon;
}

.u-cover {
    transition: all 250ms ease-out;
    opacity: 1;
    
    .is-loaded & {
        opacity: 0;
    }
}

.u-link {
    @extend %anim--medium;
    @extend %ulink;
    padding: 6px 12px;

    &:before,
    &:after {
        background-color: $c-violet;
        height: 100%;
        z-index: -1;
    }

    &:hover {
        color: white;
    }
}

.dropzone.dz-clickable {
  box-shadow: 0 .625rem 1.25rem #0000001a;
  border-radius: 24px;
  border: 1px solid rgba(156,163,175, .5);

  &:hover {
    border: 1px solid rgba(156,163,175, 1);
  }
}
