$c-black:	#262831;

$c-gray-1:	#4E4E4E;
$c-gray-2:	#581818;
$c-gray-3:	#D6D6D6;
$c-gray-4:	#2B2B2B;
$c-gray-5:	#959595;
$c-gray-6:	#F0F0F0;
$c-gray-7:	#B1B1B1;
$c-gray-8:	#465455;
$c-gray-9:	#E5E5E5;
$c-gray-10:	#95989A;
$c-gray-11:	#141414;

$c-red:     rgb(255, 51, 102);

$c-violet:  #6663ff;
