.c-contact {
	@extend %rel; 
	z-index: 10;
	background-color: white;
	
	@media ( min-width: $smartphone + 1px ) {
		padding-bottom: 60px;
	}

	&__content {
		@media ( min-width: $base + 1px ) {
			display: flex;
			justify-content: space-between;
		}
	}

	&__social {
		@media ( max-width: $base + px ) {
			margin-bottom: 100px;
		}
		
		li {
			@extend %flex;
			@extend %flex-y;
			margin-bottom: 12px;
			font-size: clamp(24px, toRem(26), toRem(26));
			white-space: nowrap;
			
			@media ( max-width: $smartphone_portrait + px ) {
				font-size: clamp(16px, toRem(24), toRem(24));
			}

			i {
				margin-right: 24px;
				width: 24px;
				text-align: center;
			}
			
			a {
			    @extend %anim--medium;
				@extend %ulink;
				padding: 6px 12px;
				
				&:before, &:after {
    				background-color: $c-violet;
    				height: 100%;
    				z-index: -1;
				}
				
				&:hover {
    				color: white;
				}
			}
		}
	}
	
	.icon-envelope-o {
		font-size: rem(26);
	}
	
	.icon-messenger {
		font-size: rem(26);
	}
	
	.icon-device-mobile {
		font-size: rem(30);
	}

	.o-btn {
    	&:before {
        	border-color: $c-black;
        }
        
        &:hover {
            span {
                color: $c-black;
            }
        }
	}
}