.c-contactform {
	margin-top: -40px;
	
	@media screen and ( min-width: $base + 1px ) {
		width: 50%;
	}
	
	&__message {
		@extend %anim;
		padding-top: 20px;
		font-size: rem(14);
		opacity: 0;
		color: $c-red;
		
		&.is-visible {
			opacity: 1;
		}
	}
	
	&__spinner {
		float: right;
		width: 60px; height: 60px;
		background: {
		    image: url(../img/assets/spinner.svg);
		    size: cover;
        }
	}

	
	@media screen and ( max-width: $tablet_portrait + px ) {
		padding: 0 0 50px 0;
	}

	.content {
		font-size: 130%;
	}
	
	.input {
		&.has-error {
			.input__label {
//				animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
				opacity: 1;
				color: $c-red;
			}
		}
	}
	
	&__submit {
		//@media screen and ( min-width: $smartphone + 1px ) {
			padding-top: 40px;
		//}

		.o-cube {
			float: right;
			padding: 0;

			@media screen and ( min-width: $smartphone + 1px ) {
				
				//width: 220px;
			}
		}
	}
	
	&__thanks {
		@extend %anim;
		padding-top: 0;
		opacity: 0;
		
		br {
			@media screen and ( max-width: $smartphone + px ) {
				display: none;
			}
		}
		
		@media screen and ( min-width: $base + 1px ) {
			margin-top: -50px;
		}
		
		&.is-visible {
			animation: fadeIn 500ms forwards ease-out;
		}

		h4 {
			font-size: rem(30);
			margin-bottom: 1.6rem;
		}
		
		p {
			line-height: 1.5;
			font-family: $sans;
			margin-bottom: 1.5rem;
			font-size: rem(20);
		}
	}
	
	.is-hidden {
		display: none;
	}
}