.c-contact {
	@extend %rel; 
	background-size: cover;
	
	@media ( min-width: $smartphone + 1px ) {
		padding-bottom: 60px;
	}

	&__content {
		@media ( min-width: $base + 1px ) {
			display: flex;
			justify-content: space-between;
		}
	}

	&__social {
		
		@media screen and ( max-width: $base + px ) {
			margin-bottom: 100px;
		}
		
		li {
			@extend %flex;
			@extend %flex-y;
			margin-bottom: .8rem;
			font-size: rem(26);
			white-space: nowrap;
			
			@media screen and ( max-width: $smartphone_portrait + px ) {
				font-size: rem(24);
			}

			i {
				margin-right: 20px;
				width: 30px;
				text-align: center;
			}
			
			a {
			    @extend %anim--medium;
				@extend %ulink;
				padding: 0 10px;
				
				&:before, &:after {
    				background-color: $c-blue1;
    				height: 100%;
    				z-index: -1;
				}
				
				&:hover {
    				color: white;
				}
			}
		}
	}
	
	.icon-envelope-o {
		font-size: rem(26);
	}
	
	.icon-messenger {
		font-size: rem(26);
	}
	
	.icon-device-mobile {
		font-size: rem(30);
	}
	
	.c-logo {
		@media screen and ( max-width: $smartphone + px ) {
			display: none;
		}
	}
	
	.o-btn {
    	&:before {
//        	opacity: 1;
        	border-color: $c-black;
        }
	}
	
	.o-header {
		margin-bottom: 3rem;
	}
}