.c-contactform {	
	@media ( min-width: $base + 1px ) {
		width: 50%;
	}
	
	&__message {
		@extend %anim;
		padding-top: 20px;
		font-size: 14px;
		opacity: 0;
		color: $c-red;
		
		&.is-visible {
			opacity: 1;
		}
	}
	
	&__spinner {
		float: right;
		width: 60px; height: 60px;
		background: {
		    image: url(../img/assets/spinner.svg);
		    size: cover;
        }
	}

	@media ( max-width: $tablet_portrait + px ) {
		padding: 0 0 50px 0;
	}

	.content {
	}
	
	.input {
    	position: relative;
    	z-index: 1;
    	display: inline-block;
    	width: 100%;
    	vertical-align: top;
    	overflow: hidden;
    	padding-top: 24px;
    	
    	&__field {
    		position: relative;
    		display: block;
    		-webkit-appearance: none; /* for box shadows to show on iOS */
    		padding: 12px 0;
    		width: 100%;
    		background: transparent;
    		font: {
        		size: clamp(24px, toRem(30), toRem(30));
        		weight: $light;
            }

    		&:focus {
    			outline: none;
    		}
    		
    		&--textarea {
    			margin-bottom: 20px;
    			margin-top: 20px;
    			font-size: clamp(16px, toRem(24), toRem(24));
    		}
    	}
    	
    	&__label {
        	@extend %abs;
    		display: inline-block;
    		font-size: 20px;
    		-webkit-font-smoothing: antialiased;
    	    -moz-osx-font-smoothing: grayscale;
    		-webkit-touch-callout: none;
    		user-select: none;

    		left: 0;
    		top: 0;
    		display: block;
    		width: 100%;
    		pointer-events: none;
    		transform-origin: 0 0;
    		transition: transform .2s .15s, color 1s;
    		transition-timing-function: ease-out;
    	}
    	
    	&__label-content {
        	@extend %rel;
    		display: block;
    		padding: 24px 0;
    		width: 100%;
    		
    		@media ( max-width: $smartphone + px ) {
    		    font-size: 16px;
    		}
    	}
    	
		&.has-error {
			.input__label {
//				animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
				opacity: 1;
				color: $c-red;
			}
		}
	}
	
	.graphic {
        @extend %abs;
    	top: 2px;
    	left: 0;
    	fill: none;
    	stroke: black;
    	stroke-width: .5;
    	pointer-events: none;
    	transition: transform 0.7s, stroke 0.7s;
    	transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
    }
    
    .input__field:focus + .input__label,
    .input--filled .input__label {
    	transform: translate3d(0, clamp(-8px, toRem(-24), toRem(-24)), 0) scale3d(.75, .75, 1);
    	opacity: .5;
    }
    
    .input__field:focus ~ .graphic,
    .input--filled .graphic {
    	transform: translate3d(-66.6%, 0, 0);
    }
	
	&__submit {
		//@media screen and ( min-width: $smartphone + 1px ) {
			padding-top: 24px;
		//}

		.o-cube {
			float: right;
			padding: 0;

			@media screen and ( min-width: $smartphone + 1px ) {
				
				//width: 220px;
			}
		}
	}
	
	&__thanks {
		@extend %anim;
		padding-top: 0;
		opacity: 0;
		
		br {
			@media ( max-width: $smartphone + px ) {
				display: none;
			}
		}
		
		&.is-visible {
			animation: fadeIn 500ms forwards ease-out;
		}

		h4 {
			font-size: clamp(24px, toRem(30), toRem(30));
			margin-bottom: 24px;
		}
		
		p {
    		line-height: 1.4em;
			font-size: clamp(16px, toRem(20), toRem(20));
		}
	}
	
	.is-hidden {
		display: none;
	}
	
	#recaptcha {
    	margin-top: 48px;

    	div {
        	iframe {
            	display: block;
        	}
        	
        	&.has-error {
            	iframe {
                	border: 1px solid $c-red;
            	}
        	}
    	}
	}
}


