.c-logo {
	@include z-index(logo);
	@extend %abs;
	//@extend %anim;
	left: 30px; top: 0;
	width: 145px;
	height: 100vh;
	//height: 400vh;
	clip: rect(auto, auto, auto, auto);
	overflow: hidden;
	//transition-duration: 600ms;

	&__img {
		position: fixed;
		left: 30px; top: 30px;
		display: block;
		width: 145px; height: 28px;

		@media screen and ( max-width: $smartphone + px ) {
			position: relative;
			left: 0;
			width: 100px;
		}
	}
	
	.narrow-logo & {
    	transition-duration: 600ms;
		width: 34px;
		
		@media screen and ( max-width: $smartphone + px ) {
		    width: 28px;
		}		
	}
}
