.c-opinions {
    @extend %rel;
    width: 100vw;
    background-image: url(../img/bg/dark.jpg);

	&__content {
	    width: 100%;
		margin-bottom: 6rem;
		text-align: center;
		color: white;
	}

	blockquote {
	    padding: 0 20px;
		color: $c-gray2;
		
		p {
			margin-bottom: 2rem;
			line-height: 1.4;
		
			@media screen and ( min-width: $tablet + 1px ) {
				font-size: rem(30);
			}	
			
			@media screen and ( max-width: $smartphone_portrait + px ) {
    	        font-size: rem(18);
    	    }
		}
		
		span {
			@extend %rel;
			display: block;
			font-size: rem(14);
			
			@media screen and ( min-width: $tablet + 1px ) {
				font-size: rem(18);
			}
			
			@media screen and ( min-width: $smartphone + 1px ) and ( max-width: $tablet + px ) {
				font-size: rem(16);
			}
			
			&:before {
				content: '― ';
			}
		}
	}
	
	br {
		@media screen and ( max-width: $tablet_portrait + px ) {
			display: none;
		}
	}
	
	.c-logo {
		@media screen and ( max-width: $smartphone + px ) {
			display: none;
		}
	}
	
	.o-header {
		@extend %rel;
		margin-bottom: 4rem;
	}
}
