.c-opinions {
    background-image: url(../img/bg/dark.jpg);
	
	br {
		@media ( max-width: theme('screens.md') ) {
			display: none;
		}
	}

	.carousel {
		display: flex;
	//	overflow: hidden; /* Ukryj elementy poza widocznym obszarem */
		width: 100%; /* Ustaw szerokość kontenera */
	}
	.slide {
		flex: 0 0 100%; /* Każdy slajd zajmuje 100% szerokości */
		width: 100%;
		text-align: center;
	}
}
