.c-portfolio {
	@extend %rel; z-index: 210;
	@extend %flex;
    @extend %flex-wrap;
    width: 100%;
    background-color: black;
    overflow: hidden;

	img {
    	transition: opacity 1s, transform 1s;
    	-webkit-backface-visibility: hidden;
    	backface-visibility: hidden;
	}
	
	article {
	    @extend %abs; z-index: 10;
	    @extend %flex;
	    max-width: 80%;
	    //padding: 0 2em 2em 2em;
	    padding: 0 clamp(12px, toRem(24), toRem(24)) clamp(12px, toRem(24), toRem(24)) clamp(12px, toRem(24), toRem(24));
	    background-color: transparent;
	    bottom: 0;
		flex-direction: column;
		justify-content: flex-end;
		color: white;
		
		a {
    		@extend %anim--medium;
			@extend %ulink;
			padding: 2px 2px;
			font-weight: $bold;
			
			&:before, &:after {
				background-color: $c-violet;
				height: 100%;
				z-index: -1;
			}
			
			&:hover {
				color: white;
			}
		}

		& > * {
        	transition: opacity .35s, transform .55s cubic-bezier(.250, .100, .250, 1.000);
        	transform: translate3d(-580px, 0, 0);
		}
		
		h3 {
    		margin-bottom: clamp(6px, toRem(12), toRem(12));
        	font: {
            	size: clamp(24px, toRem(40), toRem(40));
                weight: $light;
            }
        	color: white;
        	
    		transition-delay: .15s;
		}
		
		p {
        	margin-bottom: 12px;
        	line-height: 1.3em;
        	font-size: clamp(14px, toRem(16), toRem(16));	
        	transition-delay: .25s;
        	
        	@media ( max-width: $tablet_portrait + px ), ( hover: none ) {
        		text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
        	}
		}
		
		strong {
    		font-weight: $light;
		}
		
		button, .o-btn {
            align-self: flex-start;
    		transition-delay: .35s;
		}
		
		.o-btn {
    		&:hover {
        		transition: all .25s cubic-bezier(.250, .100, .250, 1.000);
    		}
		}
	}
	
	picture {
    	@extend %rel;
    	display: block;
    	
    	&:before {
    		@extend %abs-after;
    		@extend %anim;
    		width: 100%; height: 100%;
    		pointer-events: none;
            background-image: linear-gradient(180deg,rgba(0,0,0,0),rgba(0,0,0,.85));
            transition: all 2s ease-in-out;
            transform: translate3d(0, 100%, 0);
            opacity: 0;
		}
	}
	
	&__item {
		@extend %anim;
		@extend %rel;
		transition: all .25s ease-in-out;
		display: block;
		overflow: hidden;
		cursor: pointer;
		
		width: 25%;
		background-color: #020202;
		overflow: hidden;
		
		@media ( max-width: $tablet + px ) {
			width: 50%;
		}
		
		& > a {
    		@extend %anim;
    		@extend %rel;
    		display: block;
    		overflow: hidden;
    		cursor: pointer;
		}

        img {
            @extend %anim;
            width: 100%;
        }

		&--big {
			width: 50%;
			
			@media ( max-width: $tablet + px ) {
				width: 100%;
			}
		}
		
		&--double {
    		& > a {
        		&:hover {
        		    @media ( min-width: $tablet_portrait + 1px ) {
        		        @media (hover: hover) { 
            		        background-color: #2f3238;
            		        
                		    img {
                    		    opacity: .4;
                                transform: scale3d(1.1, 1.1, 1);
                		    }
        
                		    h3, p, button, .o-btn {
                                opacity: 1;
                                transform: translate3d(0,0,0);
                		    }
                		    
                		    &:before {
                    		    transform: translate3d(0, 0, 0);
                    		    opacity: .7;
                		    }
                		    
                		    img {
                    		    filter: grayscale(0);
                		    }
                        }
        		    }		    
        		}
            }
		}
		
		&--01 {
            order: 117;
		}

		&--02 {
            order: 118;
		}

		&--03 {
            order: 116;
		}

		&--04 {
            order: 115;
		}

		&--05 {
            order: 114;
		}

		&--06 {
            order: 113;
		}

		&--07 {
            order: 112;
		}

		&--08 {
            order: 111;
		}

		&--09 {
            order: 109;
		}

		&--10 {
            order: 110;
		}

		&--11 {
            order: 108;
		}

		&--12 {
            order: 107;
		}

		&--13 {
            order: 106;
		}

		&--14 {
            order: 104;
		}

		&--15 {
            order: 105;
		}

		&--16 {
            order: 103;
		}

		&--17 {
            order: 102;
		}
		
		&--18 {
            order: 101;
		}
		
		&--19 {
            order: 99;
            
            @media ( max-width: $tablet + px ) {
            	order: 97;
            }
		}
		
		&--20 {
            order: 98;            
		}
		
		&--21 {
            order: 100;
		}
		
		&:after {
    		@extend %abs-after;
    		left: 0; top: 0;
    		z-index: 10;
    		width: 100%; height: 100%;
            pointer-events: none;
		}
		
		/*
&:before {
    		@extend %abs-after;
    		@extend %anim;
    		width: 100%; height: 100%;
    		pointer-events: none;
            background-image: linear-gradient(180deg,rgba(0,0,0,0),rgba(0,0,0,.85));
            transition: all 2s ease-in-out;
            transform: translate3d(0, 100%, 0);
            opacity: 0;
		}
*/
		
		&:not(.c-portfolio__item--double) {
    		&:hover {
    		    @media ( min-width: $tablet_portrait + 1px ) {
    		        @media (hover: hover) { 
        		        background-color: #2f3238;
        		        transform: scale3d(.99, .99, 1);
        		        border-radius: 24px;
        		        
        		        .o-corner {
            		        transform: translate3d(0,0,0);
            		        
            		        b {
                		        &:before {
                    		        transform: rotate(-90deg);
                		        }
            		        }
        		        }
        		        
            		    img {
                		    opacity: .4;
                            transform: scale3d(1.1, 1.1, 1);
            		    }
    
            		    h3, p, button, .o-btn {
                            opacity: 1;
                            transform: translate3d(0,0,0);
            		    }
            		    
            		    picture {
                		    &:before {
                    		    transform: translate3d(0, 0, 0);
                    		    opacity: .7;
                		    }
                        }
                        
            		    img {
                		    filter: grayscale(0);
            		    }
                    }
    		    }		    
    		}
		}
		
		@media ( max-width: $tablet_portrait + px ), ( hover: none ) {
			background-color: #2f3238;
	        transform: scale3d(.99, .99, 1);
	        //border-radius: 24px;
	        
	        .o-corner {
		        transform: translate3d(0,0,0);
		        
		        b {
    		        &:before {
        		        transform: rotate(-90deg);
    		        }
		        }
	        }
	        
		    img {
    		    opacity: .8;
                transform: scale3d(1.1, 1.1, 1);
		    }

		    h3, p, button, .o-btn {
                opacity: 1;
                transform: translate3d(0,0,0);
		    }
		    
		    picture {
    		    &:before {
        		    transform: translate3d(0, 0, 0);
        		    opacity: 1;
    		    }
            }
            
		    img {
    		    filter: grayscale(0);
		    }
		}
	}
    
    &__item {
        &--narrow,
        &--small {
            article {
                max-width: 100%;
            }
            h2 {
                font: {
                	size: clamp(22px, toRem(26), toRem(26));
                }
            }
            
            p {
                //line-height: 1.2rem;
            	font-size: 14px;
            }
        }
    }
    
    .o-corner {
        @extend %abs; z-index: 10;
        transition: all .5s ease-in-out;
        display: block;
        right: 0; bottom: 0;
        width: clamp(48px, toRem(60), toRem(60)); height: clamp(48px, toRem(60), toRem(60));
        background-color: black;
        border-top-left-radius: calc(50% + 5px);
        
        transform: translate3d(100%, 100%, 0);
        
        &:before {
            @extend %abs-pseudo;
            right: 0; top: 0;
            background-color: transparent;
            width: 25px; height: 25px;
            transform: translate3d(0, -100%, 0);
            border-bottom-right-radius: calc(50% + 5px);
            box-shadow: 5px 5px 0 0 black;
        }
        
        &:after {
            @extend %abs-pseudo;
            left: 0; bottom: 0; top: auto;
            background-color: transparent;
            width: 25px; height: 25px;
            transform: translate3d(-100%, 0, 0);
            border-bottom-right-radius: calc(50% + 5px);
            box-shadow: 5px 5px 0 0 black;
        }
        
        b {
            @extend %abs;
            //@extend %gradient--2;
            right: 0; bottom: 0;
            width: clamp(40px, toRem(48), toRem(48)); height: clamp(40px, toRem(48), toRem(48));
            border-radius: 50%;
            
            &:before {
                @extend %abs-pseudo;
                @extend %flex;
                @extend %flex-xy;
                width: 100%; height: 100%;
                transition: all .5s cubic-bezier(.250, .100, .250, 1.000);
                transition-delay: .25s;
                font: {
                    family: $icons;
                    size: clamp(14px, toRem(24), toRem(24));
                    weight: $light;
                }
                transform: rotate(90deg);
                color: white;
                content: "\e911";
            }
        }
    }
}