.c-portfolio {
	@extend %rel; z-index: 210;
    width: 100vw;
	
	@media ( max-width: 800px ) {
    	width: calc(100% + 8px);
        margin: 0 -3px;
	}
	
	&__content {
	    @extend %flex;
    	@extend %flex-wrap;
    	max-width: 1600px;
    	margin: 0 auto;
    	
    	@media ( max-width: 1200px ) {
            max-width: 1024px;
    	}
    	
    	@media ( max-width: $tablet + px ) {
            max-width: 800px;
    	}

    	img {
        	transition: opacity 1s, transform 1s;
        	-webkit-backface-visibility: hidden;
        	backface-visibility: hidden;
    	}
	}
	
	&__box {
		width: 25%;
		max-height: 480px;
		overflow: hidden;
		
		@media ( max-width: $tablet + px ) {
			width: 50%;
		}

        img {
            @extend %anim;
        }

		&--big {
			width: 50%;
			
			@media ( max-width: $tablet + px ) {
				width: 100%;
			}
		}
		
		&--01 {
            order: 117;
		}

		&--02 {
            order: 118;
		}

		&--03 {
            order: 116;
		}

		&--04 {
            order: 115;
		}

		&--05 {
            order: 114;
		}

		&--06 {
            order: 113;
		}

		&--07 {
            order: 112;
		}

		&--08 {
            order: 111;
		}

		&--09 {
            order: 109;
		}

		&--10 {
            order: 110;
		}

		&--11 {
            order: 108;
		}

		&--12 {
            order: 107;
		}

		&--13 {
            order: 106;
		}

		&--14 {
            order: 104;
		}

		&--15 {
            order: 105;
		}

		&--16 {
            order: 103;
		}

		&--17 {
            order: 102;
		}
		
		&--18 {
            order: 101;
		}
		
		&--19 {
            order: 99;
            
            @media ( max-width: $tablet + px ) {
            	order: 97;
            }
		}
		
		&--20 {
            order: 98;            
		}
		
		&--21 {
            order: 100;
		}
	}
	
	&__details {
	    @extend %abs;
	    @extend %flex;
	    max-width: 80%;
	    padding: 2em;
		left: 0; top: 0;
		width: 100%; 
		height: 100%;
		flex-direction: column;
		justify-content: flex-end;
	}
	
	&__highlight {
    	margin-left: -10px;
    	padding: 0 10px;
    	line-height: 1.1em;
    	font: {
    	    size: rem(16);
    	    weight: $regular;
	    }
	    color: white;
    	
    	@media ( min-width: $tablet + 1px ) and ( max-width: 1200px ) {
    	    font-size: get-vw-1200(16);
    	}
    	
    	&--small {
        	font-size: rem(14);
    	}
	}
	
	&__line {
    	line-height: 1.4em;	
    	color: #2f3238;
    	transition: opacity .35s, transform .55s;
    	transform: translate3d(-580px,0,0);

    	&:first-child {
        	transition-delay: .15s;
    	}
    	
    	&:nth-of-type(2) {
        	transition-delay: .25s;
        	line-height: 1;
    	}
    	
    	&:nth-of-type(3) {
            transition-delay: .35s;
    	}
	}

	&__item {
		//will-change: opacity;
		@extend %anim;
		@extend %rel;
		display: block;
		overflow: hidden;
		background-color: white;
		
		&:after {
    		@extend %abs-after;
    		left: 0; top: 0;
    		z-index: 10;
    		width: 100%; height: 100%;
    		box-shadow: inset 0 0 0 1px white;
    		
    		@media ( max-width: $smartphone_portrait + px ) {
    		    box-shadow: inset 0 0 0 2px white;
    		}
		}
		
		&:before {
    		@extend %abs-after;
    		@extend %anim;
    		width: 100%; height: 100%;
            background-image: linear-gradient(180deg,rgba(0,0,0,0),rgba(0,0,0,.85));
            transition: all 2s ease-in-out;
            transform: translate3d(0, 100%, 0);
            opacity: 0;
		}
		
		&:hover {
		    @media ( min-width: $tablet_portrait + 1px ) {
		        @media (hover: hover) { 
    		        background-color: #2f3238;
    		        
        		    img {
            		    opacity: .4;
                        transform: scale3d(1.1,1.1,1);
        		    }
        		    
        		    .c-portfolio__img {
            		    opacity: 1;
        		    }
        		    
        		    .c-portfolio__line {
                        opacity: 1;
                        transform: translate3d(0,0,0);
        		    }
        		    
        		    &:before {
            		    transform: translate3d(0, 0, 0);
            		    opacity: .7;
        		    }
        		    
        		    img {
            		    filter: grayscale(0);
        		    }
                }
		    }		    
		}
	}

	&__lead {
    	//@extend %font-serif;
    	text-transform: uppercase;
    	font-family: $serif;
    	font-size: rem(40);
    	font-weight: $bold2;
    	color: white;
    	
    	@media ( min-width: $tablet + 1px ) and ( max-width: 1200px ) {
    	    font-size: get-vw-1200(40);
    	}
    	
    	&--small {    	    
        	font-size: rem(26);
        	font-weight: $bold2;
        	
        	@media ( min-width: $tablet + 1px ) and ( max-width: 1200px ) {
        	    font-size: get-vw-1200(26);
        	}
        	
    	}
    }
}