.c-welcome {
    width: 100vw;

    &__content {
    	@extend %flex;
    	@extend %flex-y;
    	@extend %rel; 
    	min-height: 100vh;
    	z-index: 10;
    	background-color: $c-gray3;
    	overflow: hidden;
    	background-image: linear-gradient(-25deg, $c-gray3 0%, lighten($c-gray3, 1%) 100%);
	}
	
	@media ( max-width: $smartphone + px ) {
		text-align: center;
	}

	
	&__cube {
		@extend %abs;
		z-index: 1;
		top: 20%; right: 0;
		width: 400px;
		height: 640px;				
		flex: 0;
		backface-visibility: hidden;
		
		@media ( min-width: $tablet + 1px ) {
			right: calc( (100% - 990px) / 2 );
		}
		
		@media ( max-width: $tablet_portrait + px ) {
            display: none;
		}

		&:after {
			@extend %abs-after;
			@extend %abs-y;
			left: 50%; top: 0;
			z-index: -1;
			transform: translateX(-50%);
			width: 850px;
			height: 640px;
			background: {
				image: url(../img/assets/cube-shadow.png);
				repeat: no-repeat;
			}
		}

		@media ( max-width: $tablet + px ) {
            display: none;
		}
	}

	article {
		width: 500px;
		margin-bottom: 4rem;

		@media ( min-width: $base + 1px ) and ( max-width: 1180px ) {
			width: grid(500, 1180 - 95 - 95);
		}
		
		@media ( max-width: $tablet_portrait + px ) {
			width: 100%;
		}
		
		a {
            border-bottom: 1px dotted #333;
            
            &:hover{ border-bottom-color: $c-red;}
    	}
	}
	
	br {
		@media ( max-width: $smartphone + px ) {
			display: none;
		}
	}

	h1, h2 {
		line-height: 1.3;
	}
	
	h1 {
    	margin-bottom: 2rem;
	    white-space: nowrap;
	    letter-spacing: -1px;
		text-transform: uppercase;
        font-family: $serif;
        font-size: rem(42);
		
        strong {
            font-weight: $bold2;
        }
        
		span {
    		display: inline-block;
            opacity: 0;
		}
		
		@media ( min-width: $tablet_portrait + 1px ) {
			font-size: rem(52);
		}

		@media ( max-width: $tablet_portrait + px ) {
    		text-align: center;
		}
		
		@media ( max-width: $smartphone + px ) {
			font-size: rem(30);
		}
	}
	
	h2 {
		margin-bottom: 1.5em;
		font-size: rem(26);
		
		@media ( max-width: $tablet_portrait + px ) {
    		max-width: 97%;
    		margin: 0 auto;
    		text-align: center;
		}

		@media ( max-width: $smartphone + px ) {
			font-size: rem(22);
		}
		
		strong {
    		font-weight: $bold;
		}
	}

	p {
		margin-bottom: 1.5rem;
		opacity: .9;
		
		@media ( max-width: $smartphone + px ) {
			font-size: rem(16);
		}
	}
	
	&__skills {
    	max-width: 560px;
    	
    	@media ( max-width: $tablet_portrait + px ) {
    		margin: 0 auto;
    		text-align: center;
    		max-width: 97%;
    	}

    	strong {
        	@extend %flex-xy;
        	display: inline-flex;
        	white-space: nowrap;
        	border-radius: 30px;
        	margin: 4px 0;
        	border: 1.5px solid #666;
        	padding: 6px 16px;
        	letter-spacing: .5px;
        	font: {
        	    size: rem(12);
        	    weight: 400;
            }
        	text: {
        	    align: center;
        	    transform: uppercase;
            }
        	
        	@media ( max-width: $smartphone + px ) {
            	padding: 6px 16px;
        		font-size: rem(10);
        	}
    	}
	}	
	
	.o-section {
	    @media ( max-width: $smartphone + px ) {
			padding-top: 100px;
        }
	}
}