// Colors


$c-black:	#262831;
$c-black2:  #222;
$c-black3:  #353b45;

$c-blue1:   #0054a5;

$c-gray:	#bebebe;
$c-gray2:	#d4d4d2;
$c-gray3:   #e4e4e4;

$c-red:		#FF3640;



$c-gray-1:	#4E4E4E;
$c-gray-2:	#581818;
$c-gray-3:	#D6D6D6;
$c-gray-4:	#2B2B2B;
$c-gray-5:	#959595;
$c-gray-6:	#F0F0F0;
$c-gray-7:	#B1B1B1;
$c-gray-8:	#465455;
$c-gray-9:	#E5E5E5;
$c-gray-10:	#95989A;
$c-gray-11:	#141414;

$c-red-1:	#FF9D86;
$c-red-2:	#F83663;
$c-red-3:	#BC1F1F;
$c-red-4:	#983030;
$c-red-5:	#CC0C38;
$c-red-6:	#FC7177;
$c-red-7:	#FC0B15;
$c-red:     rgb(255, 51, 102);


