<% include ./src/includes/head %>
<body>

<body itemscope="itemscope" itemtype="https://schema.org/WebPage">
<% include ./src/includes/head-gtm--noscript %>
<% include ./src/includes/cover %>

	<main itemprop="mainContentOfPage" role="main">
        <% include ./src/includes/welcome %>
        <% include ./src/includes/portfolio %>        
    	<% include ./src/includes/opinions %>
        <% //include ./src/includes/steps %>
        <% include ./src/includes/contact %>

	</main>

    <% include ./src/includes/footer %>
    
<script src="//code.tidio.co/mlayqazkjkapvwreklbcmiuxkhgpvrfk.js" async></script>
</body>
</html>


