@font-face {
    font-family: 'ApercuPro';
    src: url('fonts/ApercuPro-Light.woff2') format('woff2'),
         url('fonts/ApercuPro-Light.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;
